<div class="main-container container">

  <h1 class="page-title">About</h1>
  <hr/>
  <h4>What is quidditch?</h4>

  <p>
    Quidditch is a fast-paced, mixed-gender, full contact sport that is rapidly
    growing in popularity across the world. Invented in the USA in 2005, the
    sport has since spread across the world and is now played in more than 40 countries. 
  </p>
    
  <p>
    Quidditch players compete to score goals by throwing a quaffle (deflated volleyball)
    through the opposing team’s hoops while avoiding being hit by bludgers (dodgeballs)
    thrown by the opposing team’s beaters. The game ends when the snitch, a tennis ball
    attached to an impartial official, is caught by one team’s seeker. 
  </p>

  <p>Click <a href="https://www.iqasport.com/history">here</a> for more information on the history of quidditch</p>

  <hr/>
  <h4>Quidditch in Scotland</h4>

  <p>Scottish quidditch is governed by QuidditchUK, our national governing body. There are four currently
    operational Scottish quidditch clubs based in Edinburgh, Glasgow, St Andrews and Stirling. Scottish
    teams have been an integral part of the UK quidditch landscape since the sport was first introduced
    to the country in 2011 and continue to place highly at national tournaments and represent the UK internationally.
  </p>

  <p>Click <a href="https://www.quidditchuk.org/">here</a> for more information on QuidditchUK and club-level quidditch</p>

  <hr/>
  <h4>The Scottish National Quidditch Team</h4>
  <p>
      Formed in 2018, the Scottish National Quidditch Team represents Scotland internationally. Drawing from a strong
      pool of club-level talent, Team Scotland’s coaches select and train the most promising athletes in the Scottish
      game with the aim of developing a strong and cohesive core from which to select a team to compete for Scotland
      internationally. 
  </p>

</div>
  