/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: 'Sunset Boulevard';
    src: url(/assets/fonts/SunsetBoulevard.otf) format("opentype");
}

.main-container {
    padding-top: 90px;
    min-height: 86vh;
}
  
@media (min-width: 992px) {
    .main-container {
        padding-top: 90px;
    }
}

h1.page-title {
    font-family: 'Sunset Boulevard', sans-serif;
    font-size: 5rem;
    padding-top:20px;
}

.link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.link:hover {
    color: #0056b3;
    text-decoration: underline;
}

#page-content {
    min-height: 100vh;
    position: relative;
}
