/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: "Sunset Boulevard";
    src: url("/assets/fonts/SunsetBoulevard.eot"); /* IE9 Compat Modes */
    src: url("/assets/fonts/SunsetBoulevard.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("/assets/fonts/SunsetBoulevard.svg") format("svg"), /* Legacy iOS */
        url("/assets/fonts/SunsetBoulevard.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/assets/fonts/SunsetBoulevard.woff") format("woff"), /* Modern Browsers */
        url("/assets/fonts/SunsetBoulevard.woff2") format("woff2"), /* Modern Browsers */
        url("/assets/fonts/SunsetBoulevard.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.main-container {
    padding-top: 10px;
    min-height: 86vh;
}

h1.page-title {
    font-family: 'Sunset Boulevard', sans-serif;
    font-size: 5rem;
    padding-top:20px;
}

.link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.link:hover {
    color: #0056b3;
    text-decoration: underline;
}

#page-content {
    min-height: 100vh;
    position: relative;
}
