h5 {
    margin-top: 10px;
}

h5.score {
    margin-top: 5vh;
}

h5.team-name {
    font-size: 1em;
}

@media (min-width: 768px) {
    h5 {
        margin-top: 20px;
    }
    h5.score {
        font-size: 2em;
    }
    h5.team-name {
        font-size: 2em;
    }
}