<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="title col-xl-9 mx-auto">
        <h1 class="mb-5">Meet the Squad</h1>
        <app-arrow scrollId="squad" colour="white"></app-arrow>
      </div>
    </div>
  </div>
</header>

<div class="container main-container">
  <div id="squad" class="anchor"></div>
  <hr/>

  <div class="row tool-bar">

    <div class="col-md-4 col-xs-12">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="search-bar">
            <i class="fas fa-search"></i>
          </span>
        </div>
        <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-bar">
      </div>
    </div>

    <div class="col-md-4 col-xs-12"></div>

    <div class="col-md-4 col-xs-12">
      <div class="btn-group">
          <button class="btn" [ngClass]="position == 'Beater'? 'btn-dark' : 'btn-outline-dark'" name="Beaters" (click)="selectPosition('Beater')" id="beaters"> Beaters </button>
          <button class="btn" [ngClass]="position == 'Chaser'? 'btn-light' : 'btn-outline-secondary'" name="Chasers" (click)="selectPosition('Chaser')" id="chasers"> Chasers </button>
          <button class="btn" [ngClass]="position == 'Keeper'? 'btn-success' : 'btn-outline-success'" name="Keepers" (click)="selectPosition('Keeper')" id="keepers"> Keepers </button>
          <button class="btn" [ngClass]="position == 'Seeker'? 'btn-warning' : 'btn-outline-warning'" name="Seekers" (click)="selectPosition('Seeker')" id="seekers"> Seekers </button>
      </div>
    </div>

  </div>

  <hr/>
  
  <div class="row card-deck">
    <div *ngFor="let player of getFilteredPlayers()" class="col-lg-3 col-md-4 col-sm-6 my-4">
      <app-player-card [player]="player"></app-player-card>
    </div>
  </div>
</div>
