header.masthead {
    background: url("/assets/images/covers/main-sm.jpg") no-repeat center center;
    background-size: cover;
}

@media (min-width: 768px) {
    header.masthead {
        background: url("/assets/images/covers/main-md.jpg") no-repeat center center;
        background-size: cover;
    }
}

@media (min-width: 1440px) {
    header.masthead {
        background: url("/assets/images/covers/main-lg.jpg") no-repeat center center;
        background-size: cover;
    }
}

.title-box {
    z-index:999;
}

.cover-title {
    font-family: 'Sunset Boulevard', sans-serif;
    margin: 0px 10px;
    text-align: center;
    font-size: 10vh;
}

@media (min-width: 992px){
    .cover-title {
        text-align: left;
    }
}

.carousel  {
    width:100%;
}
