.image-title {
    color: #ffffff;
    text-decoration: none!important;
}

.image-title:hover{
    color:#c4c4c4;
}

a.no-underline:hover{
    text-decoration: none!important; 
}

.title-box {
    z-index:999;
}

a.image-credit{
    color: #ffffff;
}

a.image-credit:hover{
    color:#c4c4c4;
}

.text-shadow{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.cover-title {
    font-family: 'Sunset Boulevard', sans-serif;
    margin: 0px 10px;
    text-align: center;
    font-size: 10vh;
}

@media (min-width: 992px){
    .cover-title {
        text-align: left;
    }
}

.carousel  {
    width:100%;
}
