<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 title-box title">
        <h1 class="cover-title">QUIDDITCH SCOTLAND</h1>
      </div>
    </div>
  </div>
</header>
  
<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <a class="features-icons-icon d-flex" routerLink="/about">
            <i class="fas fa-quidditch m-auto text-primary"></i>
          </a>
          <h3>About us</h3>
          <p class="lead mb-0">Find out more about Quidditch Scotland!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <a class="features-icons-icon d-flex" routerLink="/fixtures">
            <i class="fas fa-trophy m-auto text-primary"></i>
          </a>
          <h3>Fixtures</h3>
          <p class="lead mb-0">Check up on upcoming and past matches for the national team!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <a class="features-icons-icon d-flex" routerLink="/squad">
            <i class="fas fa-users m-auto text-primary"></i>
          </a>
          <h3>Players</h3>
          <p class="lead mb-0">Meet the current squad representing Team Scotland!</p>
        </div>
      </div>
    </div>
  </div>
</section>