<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Quidditch Scotland
      <img src="assets/images/QuidditchLogo.png" width="40">
    </a>
    <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [ngClass]="isActive('/')? 'active' : ''">
          <a (click)="collapseNav()" class="nav-link"  routerLink="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" [ngClass]="isActive('/about')? 'active' : ''">
          <a (click)="collapseNav()" class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item" [ngClass]="isActive('/news')? 'active' : ''">
          <a (click)="collapseNav()" class="nav-link" routerLink="/news">News</a>
        </li>
        <li class="nav-item" [ngClass]="isActive('/squad')? 'active' : ''">
          <a (click)="collapseNav()" class="nav-link" routerLink="/squad">Squad</a>
        </li>
        <li class="nav-item" [ngClass]="isActive('/fixtures')? 'active' : ''">
          <a (click)="collapseNav()" class="nav-link" routerLink="/fixtures">Fixtures</a>
        </li>
        <!--<li class="nav-item" [ngClass]="isActive('/footage')? 'active' : ''">
          <a (click)="collapseNav()" class="nav-link" href="#">Footage</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.quidditchuk.org/">QuidditchUK
              <img src="assets/images/quk.png" width="25">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="footer bg-light mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a routerLink="/about">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a routerLink="/contact-us">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a routerLink="/terms-conditions">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a routerLink="/privacy-policy">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Quidditch Scotland 2019. All Rights Reserved.</p>
        <p class="text-muted small mb-4 mb-lg-0">Photo credits: Guillermo Parra, Axel Casas
          (<a href="https://www.facebook.com/BocsFolls/" target="_blank">Bocs Folls Quidditch</a>)</p>
      </div>
      <div class="col-lg-6 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="https://www.facebook.com/Quidditch-Scotland-237692856920828/" target="_blank">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="https://twitter.com/QuidditchScot" target="_blank">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/quidditchscotland" target="_blank">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/lukecmstevens/quidditch-scotland" target="_blank">
              <i class="fab fa-github fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>