<div class="main-container container">

    <h1 class="page-title">Join</h1>
    <hr/>
    
    <div class="row">
        <div class="col-lg-6">
            <p>
                If you're looking for a new sport to play, or are interested in coming along and giving it a go,
                just join us at one of our twice-weekly training sessions and we'll show you the ropes!
            </p>
            <p>
                We're open to all ages, abilities, and genders, students and non-students alike. Trainings every
                Wednesday from 2-5pm and Saturday 12-3pm, on the Meadows, by middle meadow walk (on the map to the right).
            </p>
        </div>
        <div class="col-lg-6">
            <iframe
                width="100%"
                min-height="400"
                frameborder="0" style="border:0"
                [src]="getMapsUrl() | safe" allowfullscreen>
            </iframe>
        </div>
    </div>
  
  </div>